<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Přihlášení</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>Uživatelské jméno</ion-label>
			<ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Heslo</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	</ion-list>
    <p padding-right text-right>
        <a (click)="forgottenPassword()">Zapomněl jsem heslo</a>
    </p>
	<div padding>
		<button ion-button block (click)="login()">Přihlásit se</button>
	</div>
	<div padding>
		<button ion-button block (click)="goToRegistration()">Registrace</button>
	</div>
</ion-content>
