<!--
  Generated template for the PopoverCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="selected-date">{{selectedDateLabel}} {{isBeginEnd? ((event.startTime|date:dateFormat) + " - " +
		(event.endTime|date:dateFormat)): (currentDate|date:dateFormat)}}
	</div>
	<ion-segment *ngIf="isBeginEnd" [(ngModel)]="dateType" (ngModelChange)="dateTypeChanged()">
		<ion-segment-button value="begin">{{beginLabel}}</ion-segment-button>
		<ion-segment-button value="end">{{endLabel}}</ion-segment-button>
	</ion-segment>
	<calendar [eventSource]="eventSource"
			  [currentDate]="currentDate"
			  [startingDayWeek]="1"
			  [startingDayMonth]="1"
			  [showEventDetail]="showEventDetail"
			  (onCurrentDateChanged)="currentDateChanged($event)"></calendar>
	<ion-row>
		<ion-col>
			<button ion-button block (click)="cancel()">{{cancelButton}}</button>
		</ion-col>
		<ion-col>
			<button ion-button block (click)="ok()">{{okButton}}</button>
		</ion-col>
	</ion-row>
</ion-content>
