<!--
  Generated template for the AddOrganizer page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-title>
			Nový pořadatel
		</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
				<span ion-text color="primary" showWhen="ios">Zrušit</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>Název</ion-label>
			¨
			<ion-input type="text" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Kontakt</ion-label>
			¨
			<ion-input type="text" [(ngModel)]="contact"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Adresa</ion-label>
			¨
			<ion-input type="text" [(ngModel)]="exlink"></ion-input>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button block (click)="create()">Přidat organizátora</button>
	</div>
</ion-content>
