<!--
  Generated template for the Articles page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Příspěvky</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-row>
		<ion-col text-center>
			<ion-spinner *ngIf="!articles || articles.length == 0 && !networkError"></ion-spinner>
			<p *ngIf="networkError">Nastala chyba při stahování článků, zkontrolujte si prosím své připojení k
				internetu.</p>
		</ion-col>
	</ion-row>
	<ion-list *ngIf="articles && articles.length > 0 && !networkError">
		<ion-item tappable text-wrap *ngFor="let article of shownArticles">
            <ion-thumbnail item-left (click)="showDetail(article)">
                <img src="{{article.image? article.image: 'http://stankar.cz/wp-content/uploads/logo.jpg'}}">
            </ion-thumbnail>
            <div (click)="showDetail(article)">
                <h2 [style.color]="article.color">{{article.header}}</h2>
                <h3 [innerHTML]="article.rawText | truncate:100"></h3>
                <p *ngIf="!article.kraje"><span *ngFor="let category of article.categories; let last = last">{{category.title}}<span
                        *ngIf="!last">,</span> </span></p>
                <p *ngIf="article.kraje">Akce</p>
                <p>Autor: {{article.author}}</p>
                <p>Přidáno: {{article.date|date:"dd.MM.y HH:mm:ss"}}</p>
            </div>
            <ion-icon ios="ios-heart-outline" md="ios-heart-outline" style="color: red" *ngIf="!article.favorite && isLoggedIn" (click)="changeFavorite('add', article.id, article)"></ion-icon>
            <ion-icon ios="ios-heart" md="ios-heart" style="color: red" *ngIf="article.favorite && isLoggedIn" (click)="changeFavorite('remove', article.id, article)"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons>
			<button ion-button icon-left
					[disabled]="!articles || articles.length == 0 && !networkError || selectedPage == 0"
					(click)="selectPage(selectedPage - 1)">
				<ion-icon name="arrow-back"></ion-icon>
				Novější
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-right
					[disabled]="!articles || articles.length == 0 && !networkError ||selectedPage == pageCount - 1"
					(click)="selectPage(selectedPage + 1)">
				Starší
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
