<!--
  Generated template for the EventDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{event.title}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="showArticlePopover($event)" *ngIf="isLoggedIn && userRole == 'administrator'">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<h2>{{event.header}}</h2>
    <ion-icon ios="ios-heart-outline" md="ios-heart-outline" style="color: red" *ngIf="!event.favorite && loggedIn" (click)="changeFavorite('add', event.id, event)"></ion-icon>
    <ion-icon ios="ios-heart" md="ios-heart" style="color: red" *ngIf="event.favorite && loggedIn" (click)="changeFavorite('remove', event.id, event)"></ion-icon>
	<img src="{{event.image}}">
	<p [innerHTML]="event.text"></p>
	<ion-list>
		<ion-item>{{event.location}}</ion-item>
		<ion-item>
			<h2>{{event.organizer}}</h2>
			<p *ngIf="organizer">
				Kontakt: {{organizer.meta.evcal_org_contact}}<br>
				Adresa: {{organizer.meta.evcal_org_exlink}}
			</p>
		</ion-item>
		<ion-item>
            <span *ngIf="!isSameDay(event)">Od {{getUTCLocalizedDate(event.startTime)}} do {{getUTCLocalizedDate(event.endTime)}}</span>
            <span *ngIf="isSameDay(event)">{{getUTCLocalizedDate(event.startTime)}}</span>
		</ion-item>
		<ion-item>
			Typ akce: <span *ngFor="let type of event.types; let last = last">{{type.title}}<span *ngIf="!last">,</span> </span>
		</ion-item>
	</ion-list>

	<p class="text-right">
		<small>Přidáno {{event.date|date:"ddMM.yyyy HH:mm:ss"}}</small>
	</p>
	<p class="text-right">
		<small>Autor {{event.author}}</small>
	</p>
</ion-content>
