<!--
  Generated template for the Registration page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Registrace</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list no-lines>
        <ion-item>Zaregistrovat se jako:</ion-item>
	</ion-list>

    <button ion-button block (click)="openWeb('stankar-cz-clenstvi/')">Stánkař (ZDARMA/ČLEN)</button>
    <button ion-button block (click)="openWeb('registrace-poradatele/')">Pořadatel</button>
</ion-content>
