<!--
  Generated template for the AddLocation page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-title>
			Nové místo konání
		</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
				<span ion-text color="primary" showWhen="ios">Zrušit</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>Název</ion-label>
			¨
			<ion-input type="text" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Adresa</ion-label>
			¨
			<ion-input type="text" [(ngModel)]="address"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Zeměpisná šířka (latitude)</ion-label>
			¨
			<ion-input type="number" [(ngModel)]="latitude"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Zeměpisná délka (longitude)</ion-label>
			¨
			<ion-input type="number" [(ngModel)]="longitude"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Popis</ion-label>
			¨
			<ion-textarea type="text" [(ngModel)]="description"></ion-textarea>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button block (click)="create()">Přidat místo konání</button>
	</div>
</ion-content>
