<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<ion-item-divider>{{isLoggedIn? 'Přihlášený jako ' + username: 'Nepřihlášený'}}</ion-item-divider>
			<button menuClose ion-item (click)="goToLogin()" *ngIf="!isLoggedIn">Přihlásit se</button>
			<ng-container *ngFor="let p of pages">
				<button menuClose ion-item (click)="openPage(p)"
						*ngIf="!p.loginRequest || (p.loginRequest && isLoggedIn && !p.roleRequest) || (p.loginRequest && isLoggedIn && p.roleRequest && userLevels && (userLevels.indexOf('poradatele') != -1 || userRoles.indexOf('administrator') != -1))">
					{{p.title}} <span *ngIf="p.numberOfFavorite > -1" style="background-color: red; border: solid red 1px; border-radius: 30px; padding: 3px; color: white">{{numberOfFavorite}}</span>
				</button>
			</ng-container>
			<button ion-item (click)="alertNotLoggedIn()" *ngIf="!isLoggedIn">
				Kalendář akcí
			</button>
            <button menuClose ion-item (click)="askUs()">Zeptejte se nás</button>
			<button menuClose ion-item *ngIf="isLoggedIn" (click)="logout()">Odhlásit se</button>
            <ion-item>
                <ion-label>Push notifikace</ion-label>
                <ion-toggle [checked]="notificationsEnabled" (ionChange)="notificationsChanged($event)"></ion-toggle>
            </ion-item>
		</ion-list>
	</ion-content>

	<ion-footer>
		<ion-toolbar>
			<ion-title>
				<small id="app-version">1.0.7</small>
			</ion-title>
		</ion-toolbar>
	</ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
