<!--
  Generated template for the NewEvent page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Aktuálně o Stánkař.cz</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
    <div [innerHTML]="content"></div>
</ion-content>
