<!--
  Generated template for the EventTip page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Tip na akci</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="pageType">
			<ion-segment-button value="list">Tipy na akce</ion-segment-button>
			<ion-segment-button value="new">Přidat tip na akci</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div [ngSwitch]="pageType">
		<div *ngSwitchCase="'list'">
			<ion-row>
				<ion-col text-center>
					<ion-spinner *ngIf="!tips || tips.length == 0 && !networkError"></ion-spinner>
					<p *ngIf="networkError">Nastala chyba při stahování tipů na akce, zkontrolujte si prosím své
						připojení k internetu.</p>
				</ion-col>
			</ion-row>
			<ion-list>
				<ion-item *ngFor="let tip of tips">
					<h2>{{tip.subject}}</h2>
					<h3>{{tip.message}}</h3>
					<p>{{tip.startDate}} - {{tip.endDate}}<br>{{tip.web}}</p>
				</ion-item>
			</ion-list>
		</div>
		<div *ngSwitchCase="'new'">
			<ion-list>
				<ion-item>
					<ion-label floating>Název akce <span style="color: red">*</span></ion-label>
					<ion-input type="text" [(ngModel)]="tip.subject"></ion-input>
				</ion-item>
				<!--<ion-item>
					<ion-label>Od</ion-label>
					<ion-datetime displayFormat="DD.MM.YYYY" [max]="maxYear" [(ngModel)]="tip.startDate"></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label>Do</ion-label>
					<ion-datetime displayFormat="DD.MM.YYYY" [max]="maxYear" [(ngModel)]="tip.endDate"></ion-datetime>
				</ion-item>-->
				<ion-item>
					<ion-datepicker label="Termín" placeholder="Vyberte termín akce" [(ngModel)]="dates"
									(ngModelChange)="dateChanged()" [selectedDateLabel]="'Zvolené datum'"
									[cancelButton]="'Zrušit'" [beginLabel]="'Začátek'"
									[endLabel]="'Konec'"></ion-datepicker>
				</ion-item>
				<ion-item>
					<ion-label floating>WWW stránky - pořadatel</ion-label>
					<ion-input type="url" [(ngModel)]="tip.web"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>Informace o akci <span style="color: red">*</span></ion-label>
					<ion-textarea rows="10" [(ngModel)]="tip.message"></ion-textarea>
				</ion-item>
			</ion-list>
			<div padding>
				<button ion-button block (click)="create()">Přidat akci</button>
			</div>
		</div>
	</div>
</ion-content>
