<!--
  Generated template for the Calendar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ng-template #monthviewDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
			 let-noEventsLabel="noEventsLabel">
	<ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
		<ion-item *ngFor="let item of selectedDate?.events" (click)="eventSelected(item)">
			<ion-thumbnail item-left>
				<img src="{{item.image? item.image: 'http://stankar.cz/wp-content/uploads/logo.jpg'}}">
			</ion-thumbnail>
			<h2>{{item.header}}</h2>
			<h3>
				<span *ngIf="!isSameDay(item)">Od {{getUTCLocalizedDate(item.startTime)}} do {{getUTCLocalizedDate(item.endTime)}}</span>
				<span *ngIf="isSameDay(item)">{{getUTCLocalizedDate(item.startTime)}}</span>
			</h3>
			<p>
				<span *ngFor="let type of item.types; let last = last">{{type.title}}<span *ngIf="!last">,</span> </span>
			</p>
			<p>Autor: {{item.author}}</p>
			<p>Přidáno: {{item.date|date:"ddMM.y HH:mm:ss"}}</p>
		</ion-item>
		<ion-item *ngIf="selectedDate?.events.length==0">
			<div class="no-events-label">{{noEventsLabel}}</div>
		</ion-item>
	</ion-list>
</ng-template>

<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Kalendář</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="calendarType">
			<ion-segment-button value="calendar">Kalendář</ion-segment-button>
			<ion-segment-button value="list">Seznam</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div [ngSwitch]="calendarType">
		<div *ngSwitchCase="'calendar'">
            <p style="text-align: center">Vyberte měsíc tahem doleva či doprava</p>
			<ion-row>
				<ion-col text-center>
					<ion-spinner *ngIf="loadingData && !networkError"></ion-spinner>
					<p *ngIf="!loadingData && !networkError">{{currentDate|date:'ddMM.yyyy'}}</p>
					<p *ngIf="networkError">Nastala chyba při stahování akcí, zkontrolujte si prosím své připojení k
						internetu.</p>
				</ion-col>
			</ion-row>
			<calendar [eventSource]="eventSource" [currentDate]="today" [startingDayWeek]="1" [startingDayMonth]="1"
					  [allDayLabel]="'Celý  den'" [noEventsLabel]="'Žádné akce'"
					  [monthviewEventDetailTemplate]="monthviewDetailTemplate"
					  (onCurrentDateChanged)="currentDateChanged($event)"
					  (onEventSelected)="eventSelected($event)"></calendar>
		</div>
		<div *ngSwitchCase="'list'">
			<ion-list>
				<ion-item>
					<ion-label>Datum</ion-label>
					<ion-datetime displayFormat="DD.MM.YYYY" [(ngModel)]="filterDate"
								  (ngModelChange)="filter()"></ion-datetime>
					<button ion-button outline item-right clear icon-only (click)="filterDate = null; filter()">
						<ion-icon name="close"></ion-icon>
					</button>
				</ion-item>
                <ion-item>
                    <ion-label>Pořadatel</ion-label>
                    <ion-select multiple="true" [(ngModel)]="filteredPoradatele" (ngModelChange)="filter()">
                        <ion-option *ngFor="let poradatel of poradatele" [value]="poradatel.term_id">{{poradatel.name}}</ion-option>
                    </ion-select>
                    <button ion-button outline item-right clear icon-only (click)="filteredPoradatele = []; filter()">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </ion-item>
				<ion-item>
					<ion-label>Kraj</ion-label>
					<ion-select multiple="true" [(ngModel)]="filteredKraje" (ngModelChange)="filter()">
						<ion-option *ngFor="let kraj of kraje" [value]="kraj.term_id">{{kraj.name}}</ion-option>
					</ion-select>
					<button ion-button outline item-right clear icon-only (click)="filteredKraje = []; filter()">
						<ion-icon name="close"></ion-icon>
					</button>
				</ion-item>
				<ion-item>
					<ion-label>Rubriky</ion-label>
					<ion-select multiple="true" [(ngModel)]="filteredEventTypes" (ngModelChange)="filter()">
						<ion-option *ngFor="let type of eventTypes" [value]="type.term_id">{{type.name}}</ion-option>
					</ion-select>
					<button ion-button outline item-right clear icon-only (click)="filteredEventTypes = []; filter()">
						<ion-icon name="close"></ion-icon>
					</button>
				</ion-item>
			</ion-list>
			<ion-row *ngIf="loadingData">
				<ion-col text-center>
					<ion-spinner></ion-spinner>
				</ion-col>
			</ion-row>
			<ion-list>
				<ion-item *ngFor="let item of filteredEvents" (click)="eventSelected(item)">
					<ion-thumbnail item-left>
						<img src="{{item.image? item.image: 'http://stankar.cz/wp-content/uploads/logo.jpg'}}">
					</ion-thumbnail>
					<h2>{{item.header}}</h2>
					<h3>
						<span *ngIf="!isSameDay(item)">Od {{getUTCLocalizedDate(item.startTime)}} do {{getUTCLocalizedDate(item.endTime)}}</span>
						<span *ngIf="isSameDay(item)">{{getUTCLocalizedDate(item.startTime)}}</span>
					</h3>
					<p>
						<span *ngFor="let type of item.types; let last = last">{{type.title}}<span
								*ngIf="!last">,</span> </span>
					</p>
					<p>Autor: {{item.author}}</p>
					<p>Přidáno: {{item.date|date:"ddMM.y HH:mm:ss"}}</p>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>

<ion-footer *ngIf="usersProv.isLoginValidated() && usersProv.user && (usersProv.user.levels.indexOf('stankari') != -1 || usersProv.user.levels.indexOf('poradatele') != -1)">
	<ion-buttons end (click)="createNew()">
		<button ion-button icon-right>
			Nová akce
			<ion-icon name="add-circle"></ion-icon>
		</button>
	</ion-buttons>
</ion-footer>
