<!--
  Generated template for the NewEvent page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Nová akce</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-row *ngIf="networkError">
		<ion-col>
			<p>Nastala chyba při připojení k internetu. Zkontrolujte si prosím vaše internetové připojení a zkuste
				přidat akci později.</p>
		</ion-col>
	</ion-row>
	<ion-list *ngIf="!networkError">
		<ion-item>
			<ion-label floating>Název akce</ion-label>
			<ion-input type="text" [(ngModel)]="event.title"></ion-input>
		</ion-item>
		<ion-grid class="vertical-align-content">
			<ion-row>
				<ion-col>
					<button ion-button block (click)="showFileUpload(fileUpload)">Nahrát obrázek</button>
					<input type="file" hidden ng2FileSelect [uploader]="uploader" #fileUpload accept="image/*"/>
				</ion-col>
				<ion-col>
					<img [src]="previewUrl">
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-item>
			<ion-datepicker label="Od" placeholder="Vyberte datum" [(ngModel)]="event.startTime"
							(ngModelChange)="startTimeChanged()" [selectedDateLabel]="'Zvolené datum'"
							[cancelButton]="'Zrušit'"></ion-datepicker>
		</ion-item>
		<ion-item>
			<ion-datepicker label="Do" placeholder="Vyberte datum" [(ngModel)]="event.endTime"
							(ngModelChange)="endTimeChanged()" [selectedDateLabel]="'Zvolené datum'"
							[cancelButton]="'Zrušit'"></ion-datepicker>
			<!--<ion-datetime displayFormat="DD.MM.YYYY" [max]="maxYear" [(ngModel)]="event.endTime"></ion-datetime>-->
		</ion-item>
		<ion-item>
			<ion-label floating>Místo konání</ion-label>
			<ion-select [(ngModel)]="event.location" #locationSelect>
				<ion-option *ngFor="let location of locations" [value]="location.slug">{{location.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<button ion-button block (click)="newLocation()">Nové místo konání</button>
		</ion-item>
		<ion-item>
			<ion-label floating>Kraj</ion-label>
			<ion-select [(ngModel)]="event.kraje[0]">
				<ion-option *ngFor="let kraj of kraje" [value]="kraj.term_id">{{kraj.name}}</ion-option>
			</ion-select>
		</ion-item>
        <ion-item *ngIf="user.roles[0] != 'administrator'">
            <ion-label stacked>Pořadatel</ion-label>
            <ion-input readonly [value]="organizerName"></ion-input>
        </ion-item>
		<ion-item *ngIf="user.roles[0] == 'administrator'">
			<ion-label floating>Pořadatel</ion-label>
			<ion-select [(ngModel)]="event.organizer" #organizerSelect>
				<ion-option *ngFor="let organizer of organizers" [value]="organizer.slug">{{organizer.name}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="user.roles[0] == 'administrator'">
			<button ion-button block (click)="newOrganizer()">Nový pořadatel</button>
		</ion-item>
		<ion-item>
			<ion-label floating>Zařazení</ion-label>
			<ion-select multiple="true" [(ngModel)]="event.types">
				<ion-option *ngFor="let type of eventTypes" [value]="type.term_id">{{type.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>Informace o akci</ion-label>
			<ion-textarea rows="10" [(ngModel)]="event.content"></ion-textarea>
		</ion-item>
	</ion-list>
	<div padding *ngIf="!networkError">
		<button ion-button block (click)="create()">Přidat akci</button>
	</div>
</ion-content>
