<!--
  Generated template for the ArticleDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{article.header}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="showArticlePopover($event)" *ngIf="isLoggedIn && userRole == 'administrator'">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<h2>{{article.header}}</h2>
    <ion-icon ios="ios-heart-outline" md="ios-heart-outline" style="color: red" *ngIf="!article.favorite && loggedIn" (click)="changeFavorite('add', article.id, article)"></ion-icon>
    <ion-icon ios="ios-heart" md="ios-heart" style="color: red" *ngIf="article.favorite && loggedIn" (click)="changeFavorite('remove', article.id, article)"></ion-icon>
	<img src="{{article.image}}">
	<p [innerHTML]="article.text"></p>
	<p class="text-right">
		<small>Přidáno {{article.date|date:"ddMM.yyyy HH:mm:ss"}}</small>
	</p>
	<p class="text-right">
		<small>Autor {{article.author}}</small>
	</p>
</ion-content>
