<!--
  Generated template for the NewArticle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Nový příspěvek</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>Název příspěvku</ion-label>
			<ion-input type="text" [(ngModel)]="article.rawHeader"></ion-input>
		</ion-item>
		<ion-item *ngIf="user.roles.indexOf('administrator') != -1">
			<ion-label floating>Typ příspěvku</ion-label>
			<ion-select [(ngModel)]="article.categories[0]">
				<ion-option value="clanky">Články</ion-option>
				<ion-option value="upozorneni-stankare">Upozornění stánkaře</ion-option>
				<ion-option value="upozorneni-poradatele">Upozornění pořadatele</ion-option>
			</ion-select>
		</ion-item>
		<ion-grid class="vertical-align-content">
			<ion-row>
				<ion-col>
					<button ion-button block (click)="showFileUpload(fileUpload)">Nahrát obrázek</button>
					<input type="file" hidden ng2FileSelect [uploader]="uploader" #fileUpload accept="image/*"/>
				</ion-col>
				<ion-col>
					<img [src]="previewUrl">
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-item>
			<ion-label floating>Obsah</ion-label>
			<ion-textarea rows="10" [(ngModel)]="article.rawText"></ion-textarea>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button block (click)="create()">Přidat příspěvek</button>
	</div>
</ion-content>
