ion-datepicker {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  .datepicker-label {
    color: #999;
  }

  .datepicker-text {
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    min-height: 1.2em;
    font-size: inherit;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }

}

.ion-datepicker-popover {
  .popover-content {
    width: 400px !important;

    @media screen and (max-width: 400px) {
      width: 100% !important;
      left: 0 !important;
    }
  }
}
