<!-- Generated template for the IonDatepicker component -->
<div class="datepicker-label">{{label}}</div>
<div class="datepicker-text">{{value? (isDate(value)?(value|date:dateFormat): isDatesObject(value)?
	(value.beginDate|date:dateFormat) + " - " + (value.endDate|date:dateFormat): "Error value"): placeholder}}
</div>
<button aria-haspopup="true" class="item-cover" ion-button="item-cover" type="button" (click)="showDatepicker()"
		[disabled]="buttonDisabled"></button>
